---
import Gutter from "@/src/components/gutter.astro"
import { InfinityLine } from "@/src/components/progress-lines"
import VerticalPadding from "@/src/components/vertical-padding.astro"
---

<section class="relative h-screen border-b-2 bg-shaded">
    <InfinityLine client:load />
    <div class="absolute w-full h-full">
        <VerticalPadding
            className="flex flex-col h-full justify-center items-center gap-8"
            top="large">
            <Gutter
                className="text-shaded-foreground flex flex-col items-center">
                <h1
                    class="text-lg font-semibold leading-7 text-muted-foreground">
                    The Current Detection Strategy
                </h1>
                <h2 class="scroll-m-20 text-9xl font-extrabold tracking-tight">
                    $95 Per PCR Test!
                </h2>
                <p class="w-3/5 mt-6 text-center">
                    Currently the only way to detect Clubroot is with a PCR test
                    which is can be very expensive to perform. Not only that but
                    the process involves complex laboratory techniques and
                    equipment, including specialized reagents and instruments,
                    which require skilled technicians to operate and maintain.
                </p>
            </Gutter>
            <Gutter
                className="border-y border-background/20 bg-background/5 mt-12 w-full">
                <div
                    class="grid grid-cols-4 gap-8 h-36 text-shaded-foreground items-center justify-center">
                    <div
                        class="flex flex-col items-center border-r border-background/20">
                        <p class="text-6xl font-black">99.9%</p>
                        <p class="text-lg font-medium text-background/50">
                            Units
                        </p>
                    </div>
                    <div class="flex flex-col items-center">
                        <p class="text-6xl font-black">45B+</p>
                        <p class="text-lg font-medium text-background/50">
                            Acres
                        </p>
                    </div>
                    <div
                        class="flex flex-col items-center border-r border-background/20">
                        <p class="text-6xl font-black">39K</p>
                        <p class="text-lg font-medium text-background/50">
                            Dollars
                        </p>
                    </div>
                    <div class="flex flex-col items-center">
                        <p class="text-6xl font-black">33.4%</p>
                        <p class="text-lg font-medium text-background/50">
                            Loss
                        </p>
                    </div>
                </div>
            </Gutter>
        </VerticalPadding>
    </div>
</section>
