---
import { cn } from "@/lib/utils"
import Gutter from "@/src/components/gutter.astro"
import { BottomHalfLine } from "@/src/components/progress-lines"
import VerticalPadding from "@/src/components/vertical-padding.astro"
---

<section class="relative h-screen border-b-2">
    <div class="absolute w-full h-full">
        <div class="pr-16 w-1/2-screen">
            <VerticalPadding top="large">
                <Gutter rightGutter={false}>
                    <div>
                        <h1
                            class="text-lgfont-semibold leading-7 text-muted-foreground">
                            Dont Like thinking too much?
                        </h1>
                        <h2
                            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                            Take Our Guided Tour!
                        </h2>
                        <p
                            class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                            Where we walk you through all the most important
                            parts of our project, from the project description
                            to the results.
                        </p>
                    </div>
                </Gutter>
            </VerticalPadding>
        </div>
    </div>
    <BottomHalfLine client:load />
    <a
        href="/lethbridge/description"
        class={cn(
            "absolute rounded-lg top-1/2 left-1/2 h-[12em] w-[30em] -mt-[6em] -ml-[15em] inline-block bg-background border-2 border-secondary shadow-md",
            "flex items-center justify-center text-2xl font-bold text-primary hover:bg-muted transition-colors"
        )}>
        Click here to Take Our Guided Tour!
    </a>
</section>
