---
import { cn } from "../../lib/utils"
import Gutter from "../../components/gutter.astro"
import { HalfLine } from "../../components/progress-lines"
---

<section class={cn("relative h-screen border-b-2")}>
    <!-- Background Image -->
    <>
        <div
            class={cn(
                "absolute w-full h-full bg-canola-bg bg-cover bg-no-repeat bg-center saturate-[0.75]",
                "before:absolute before:inset-0 before:inline-block before:bg-background/70"
            )}>
        </div>
        <div class="letter">
            <div class="letter-back sketch" style="opacity: 1;">
                <svg
                    viewBox="0 0 300 300"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid meet">
                    <path
                        path-onseen="1"
                        transform="translate(65, 50)"
                        stroke="white"
                        stroke-width="50"
                        fill="none"
                        d="M 195 176 A 121 124 0 1 1 195 24"></path>
                </svg>
            </div>
            <div class="letter-mid sketch" style="opacity: 1;">
                <svg
                    viewBox="0 0 300 300"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid meet">
                    <path
                        path-onseen="1"
                        transform="translate(65, 50)"
                        stroke="black"
                        stroke-width="50"
                        fill="none"
                        d="M 195 176 A 121 124 0 1 1 195 24"></path>
                </svg>
                <div class="video">
                    <video
                        disablepictureinpicture="true"
                        muted="true"
                        loop="true"
                        autoplay="true">
                        <source src="canola-flyover.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </>
    <div class="absolute top-1/2 mt-[5%] -ml-[30%] w-3/5 left-1/2 z-10">
        <Gutter className="">
            <!-- iGem Team Logo -->
            <div class="">
                <div class="mt-12">
                    <h1 class="text-5xl font-black text-center text-foregound">
                        iGem ULethbridge 2023
                    </h1>
                    <h2
                        class="text-3xl font-semibold text-center text-foreground mt-2">
                        Canola Disease Detection
                    </h2>
                    <p class="text-center mt-4 text-lg font-medium">
                        Our aim is to create a cheap and easy to use detection
                        kit that can help Alberta Farmers check their crops for
                        Plasmodiophora brassicae, a soil-borne pathogen that
                        causes the disease known as Clubroot.
                    </p>
                </div>
            </div>
        </Gutter>
    </div>
    <HalfLine client:load />
</section>

<style lang="scss">
    .letter {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20em;
        margin-left: -16em;
        display: inline-block;
        width: 30em;
        height: 30em;
        overflow: hidden;

        .letter-back {
            position: absolute;
            top: -0.5em;
            left: -0.5em;
            width: calc(100% + 1em);
            height: calc(100% + 1em);

            svg {
                filter: blur(0.5px);
                position: absolute;
                top: 0.5em;
                left: 0.5em;
                width: calc(100% - 1em);
                height: calc(100% - 1em);
            }
        }
        .letter-mid {
            position: absolute;
            top: -0.5em;
            left: -0.5em;
            width: calc(100% + 1em);
            height: calc(100% + 1em);
            background-color: white;
            mix-blend-mode: darken;

            svg {
                filter: blur(0.5px);
                position: absolute;
                top: 0.5em;
                left: 0.5em;
                width: calc(100% - 1em);
                height: calc(100% - 1em);
            }

            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(canola-field-background.jpeg);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                mix-blend-mode: lighten;
                overflow: hidden;
            }
        }
    }
</style>
