---
import { cn } from "@/lib/utils"
import Gutter from "@/src/components/gutter.astro"
import { FullLine } from "@/src/components/progress-lines"
import { buttonVariants } from "@/src/components/ui/button"
import VerticalPadding from "@/src/components/vertical-padding.astro"
---

<section class="relative h-screen border-b-2">
    <FullLine client:load />
    <div class="absolute w-full h-full">
        <VerticalPadding>
            <Gutter className="">
                <h1
                    class="scroll-m-20 mt-12 text-center text-4xl font-extrabold tracking-tight lg:text-5xl">
                    Explore the Rest of Our Project
                </h1>
                <p
                    class="max-w-[800px] text-center mx-auto text-lg leading-7 [&:not(:first-child)]:mt-4">
                    Comprising fifteen undergrad and graduate students, the UofL
                    iGem team boasts diverse backgrounds encompassing expertise
                    in fields such as neuroscience, biochemistry, and computer
                    science.
                </p>
                <p
                    class="max-w-[800px] text-center mx-auto text-lg leading-7 [&:not(:first-child)]:mt-4">
                    For a comprehensive yet succinct understanding of our
                    project, please refer to the <a
                        href="/"
                        class={cn(
                            buttonVariants({ variant: "link" }),
                            "text-base px-0"
                        )}>Project Description</a
                    > page. Notable factors that significantly shaped our
                    project's evolution and align with our mission to drive
                    societal change include:
                </p>
                <div class="grid grid-cols-4 gap-8 mt-12">
                    <div
                        class="border-secondary bg-secondary text-foreground p-8 rounded-md">
                        <h2 class="text-2xl font-bold">Human Practices</h2>
                        <p class="leading-7 [&:not(:first-child)]:mt-4">
                            Our team has been working closely with the Alberta
                            Canola Producers Commission (ACPC) to ensure that
                            our project is relevant to the needs of the
                            agricultural community.
                        </p>
                    </div>
                    <div
                        class="border-secondary bg-secondary text-foreground p-8 rounded-md">
                        <h2 class="text-2xl font-bold">Entrepreneurship</h2>
                        <p class="leading-7 [&:not(:first-child)]:mt-4">
                            Revolved around the project, entrepreneurship drives
                            innovative solutions towards real-world impact.
                        </p>
                    </div>
                    <div
                        class="border-secondary bg-secondary text-foreground p-8 rounded-md">
                        <h2 class="text-2xl font-bold">Communication</h2>
                        <p class="leading-7 [&:not(:first-child)]:mt-4">
                            Communication forms the backbone of our project,
                            facilitating the exchange of insights and progress,
                            while education empowers us to spread knowledge and
                            inspire change.
                        </p>
                    </div>
                    <div
                        class="border-secondary bg-secondary text-foreground p-8 rounded-md">
                        <h2 class="text-2xl font-bold">Part Collection</h2>
                        <p class="leading-7 [&:not(:first-child)]:mt-4">
                            We have also been working with the University of
                            Lethbridge's Technology Transfer Office (TTO) to
                            ensure that our project has the potential to be
                            commercialized.
                        </p>
                    </div>
                </div>
            </Gutter>
        </VerticalPadding>
    </div>
</section>
