---
import Gutter from "@/src/components/gutter.astro"
import { CurlyLine } from "@/src/components/progress-lines"
import { AspectRatio } from "@/src/components/ui/aspect-ratio"
---

<section class="relative h-screen border-b-2">
    <div class="absolute w-full h-full flex items-center">
        <!-- <VerticalPadding top="large"> -->
        <div class="relative w-1/2-screen text-muted">
            <AspectRatio ratio={4 / 3}>
                <img
                    class="h-full w-full"
                    src="https://illustrations.popsy.co/green/question-mark.svg"
                />
            </AspectRatio>
        </div>
        <div class="pr-16 w-1/2-screen">
            <Gutter rightGutter={false}>
                <div class="col-span-6">
                    <h1
                        class="text-lg font-semibold leading-7 text-muted-foreground">
                        Our Detection Method
                    </h1>
                    <h2
                        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                        Spray, Wait, Know
                    </h2>
                    <p
                        class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                        3 steps to having clubroot resistant canola, all at the
                        palm of your hand
                    </p>
                </div>
                <div class="col-span-6 mt-6">
                    <ol
                        class="pl-6 list-decimal marker:font-bold marker:text-muted-foreground/60">
                        <li class="mt-3 leading-7">
                            Vestibulum imperdiet placerat interdum.Mauris sit
                            amet eros vehicula, tempus nisi vel, dictum tellus.
                            Vestibulum imperdiet placerat interdum.Mauris sit
                            amet eros vehicula, tempus nisi vel, dictum tellus.
                        </li>
                        <li class="mt-3 leading-7">
                            Vestibulum imperdiet placerat interdum.Mauris sit
                            amet eros vehicula, tempus nisi vel, dictum tellus.
                            Vestibulum imperdiet placerat interdum.Mauris sit
                            amet eros vehicula, tempus nisi vel, dictum tellus.
                        </li>
                        <li class="mt-3 leading-7">
                            Vestibulum imperdiet placerat interdum.Mauris sit
                            amet eros vehicula, tempus nisi vel, dictum tellus.
                            Vestibulum imperdiet placerat interdum.Mauris sit
                            amet eros vehicula, tempus nisi vel, dictum tellus.
                        </li>
                    </ol>
                </div>
            </Gutter>
        </div>
    </div>
    <CurlyLine client:load />
</section>
