---
import Gutter from "@/src/components/gutter.astro"
import { CurlyLine } from "@/src/components/progress-lines"
import { AspectRatio } from "@/src/components/ui/aspect-ratio"
---

<section class="relative h-screen border-b-2">
    <div class="absolute w-full h-full flex items-center">
        <!-- <VerticalPadding top="large"> -->
        <div class="pr-16 w-1/2-screen">
            <Gutter rightGutter={false}>
                <div class="col-span-6">
                    <h1
                        class="text-lgfont-semibold leading-7 text-muted-foreground">
                        Alberta's canola industry is threatened by clubroot
                    </h1>
                    <h2
                        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                        A Local Issue
                    </h2>
                    <p
                        class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                        Clubroot is a huge issue in Alberta, Canada, threatning
                        many of our crops.
                    </p>
                </div>
                <div class="col-span-6 mt-6">
                    <ol
                        class="pl-6 list-decimal marker:font-bold marker:text-muted-foreground/60">
                        <li class="mt-3 leading-7">
                            <h3
                                class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                67% of Alberta is farm land
                            </h3>
                            <p class="mt-1 leading-7 text-muted-foreground">
                                Alberta's agricultural industry is a vital
                                component of the province's economy, with
                                approximately 67% of the province's land being
                                used for farming.
                            </p>
                        </li>
                        <li class="mt-3 leading-7">
                            <h3
                                class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                Clubroot is spreading rapidly with no end in
                                sight
                            </h3>
                            <p class="mt-1 leading-7 text-muted-foreground">
                                Clubroot's extensive reach threatens Alberta's
                                canola industry by affecting most counties,
                                imperiling yield, quality, and profitability,
                                demanding urgent action for Brassica crop
                                preservation.
                            </p>
                        </li>
                        <li class="mt-3 leading-7">
                            <h3
                                class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                20% Yield Loss in Infected Fields
                            </h3>
                            <p class="mt-1 leading-7 text-muted-foreground">
                                Clubroot infects Brassica roots, forming
                                disruptive galls that hinder nutrient absorption
                                and water uptake, impacting vital resources and
                                growth.
                            </p>
                        </li>
                    </ol>
                </div>
            </Gutter>
        </div>
        <div class="relative w-1/2-screen text-muted">
            <div class="flex">
                <AspectRatio ratio={4 / 3}>
                    <img
                        src="https://static.igem.wiki/teams/4754/wiki/untitled-artwork-2.png"
                        alt="Canola field"
                        class="h-full w-full saturate-[.85] shadow-md object-cover"
                    />z
                </AspectRatio>
                <AspectRatio ratio={4 / 3}>
                    <img
                        src="https://static.igem.wiki/teams/4754/wiki/untitled-artwork-1.png"
                        alt="Canola field"
                        class="h-full w-full saturate-[.85] shadow-md object-cover"
                    />
                </AspectRatio>
            </div>
        </div>
    </div>
    <CurlyLine client:load />
</section>
