---
import { cn } from "@/lib/utils"
import Gutter from "@/src/components/gutter.astro"
import { CanolaLine, CurlyLine } from "@/src/components/progress-lines"
import VerticalPadding from "@/src/components/vertical-padding.astro"

const problems = [
    {
        title: "Depletes essential nutrients",
        description:
            "Clubroot infects Brassica roots, forming disruptive galls that hinder nutrient absorption and water uptake, impacting vital resources and growth.",
        className: "col-start-10 col-span-3 row-start-2",
    },
    {
        title: "Diminishes crop yield and quality",
        description:
            "Clubroot's impact extends: stunted crop growth, compromised quality, and farmers facing yield losses due to the disease's effects.",
        className: "col-span-3 row-start-2",
    },
    {
        title: "Affects approximately 67% of counties and districts",
        description:
            "Clubroot's extensive reach threatens Alberta's canola industry by affecting most counties, imperiling yield, quality, and profitability, demanding urgent action for Brassica crop preservation.",
        className: "col-span-3 row-start-3",
    },
    {
        title: "Impacts the economic viability of farming",
        description:
            "The economic viability of farming is crucial for sustaining agricultural practices and ensuring the livelihoods of farmers.",
        className: "col-start-10 col-span-3 row-start-3",
    },
]
---

<section class="relative h-screen border-b-2">
    <>
        <div
            class={cn(
                "absolute rounded-full top-1/2 left-1/2 h-[37em] w-[37em] -mt-[18.5em] -ml-[18.5em] inline-block bg-canola-pattern bg-cover bg-no-repeat bg-center",
                "before:absolute before:rounded-full before:top-1/2 before:left-1/2 before:h-[37em] before:w-[37em] before:-mt-[18.5em] before:-ml-[18.5em] before:inline-block before:bg-background/60",
                "after:absolute after:rounded-full after:top-1/2 after:left-1/2 after:h-[26em] after:w-[26em] after:-mt-[13em] after:-ml-[13em] after:inline-block after:bg-background"
            )}>
        </div>
        <CanolaLine client:load />
    </>
    <div class="absolute w-full h-full">
        <Gutter>
            <VerticalPadding top="large" bottom="large">
                <div class="grid grid-cols-12 gap-8">
                    <div class="col-span-6">
                        <h1
                            class="text-lgfont-semibold leading-7 text-muted-foreground">
                            A worldwide problem
                        </h1>
                        <h2
                            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                            Clubroot Is Spreading
                        </h2>
                        <p
                            class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                            Clubroot is a issue for 4 main reasons
                        </p>
                    </div>
                    {
                        problems.map((problem) => (
                            <div class={cn("flex flex-col", problem.className)}>
                                <h2 class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                    {problem.title}
                                </h2>
                                <p class="mt-1 leading-7 text-muted-foreground">
                                    {problem.description}
                                </p>
                            </div>
                        ))
                    }
                </div>
            </VerticalPadding>
        </Gutter>
    </div>
</section>
