---
import type { InferGetStaticPropsType } from "astro"
import { paths } from "../lib/routing"

import Page from "../layout/page.astro"

export async function getStaticPaths() {
    return paths
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>
const { Content, headings } = await Astro.props.entry.render()
---

<Page {...Astro.props} {headings}>
    <Content />
</Page>
