---
import Page from "../layout/page.astro"
import CurrentSolution from "./_components/current-solution.astro"
import GuidedTour from "./_components/guided-tour.astro"
import Hero from "./_components/hero.astro"
import OurProblem from "./_components/our-problem.astro"
import OurProject from "./_components/our-project.astro"
import OurSolution from "./_components/our-solution.astro"
import What from "./_components/what.astro"
---

<Page {...Astro.props}>
    <Hero />
    <What />
    <OurProblem />
    <CurrentSolution />
    <OurSolution />
    <OurProject />
    <GuidedTour />
</Page>
