---
import Gutter from "../components/gutter.astro"
import Page from "../layout/page.astro"
import {
    HalfLine,
    CurlyLine,
    BottomHalfLine,
    InfinityLine,
} from "../components/progress-lines"
import { AspectRatio } from "../components/ui/aspect-ratio"
import VerticalPadding from "../components/vertical-padding.astro"
import { cn } from "../lib/utils"
import { buttonVariants } from "../components/ui/button"

const stages = [
    {
        title: "Stages 1",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        className: "col-start-9 col-span-3 row-start-1",
    },
    {
        title: "Stage 2 - 3",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod",
        className: "col-start-10 col-span-3 row-start-2",
    },
    {
        title: "Stage 6-7",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        className: "col-span-3 row-start-2",
    },
    {
        title: "Stage 5",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        className: "col-span-3 row-start-3",
    },
    {
        title: "Stage 4",
        description:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        className: "col-start-10 col-span-3 row-start-3",
    },
]

const problems = [
    {
        title: "Brassicaceae Vegetables",
        description:
            "Broccoli and Brussels sprouts, known for their cruciferous flavor, offer a variety of culinary possibilities with their distinct features.",
        className: "col-start-10 col-span-3 row-start-2",
    },
    {
        title: "Cole Crops",
        description:
            "Cabbage and cauliflower are versatile vegetables, with cabbage's layered leaves perfect for coleslaw and sauerkraut, while cauliflower's white curd is excellent for roasting and mashing",
        className: "col-span-3 row-start-2",
    },
    {
        title: "Leafy Greens",
        description:
            "Chinese cabbage, kale, and kohlrabi provide diverse options, from the tender and mild Chinese cabbage used in Asian cuisine to kale's nutritional powerhouse status and kohlrabi's unique bulbous stem.",
        className: "col-span-3 row-start-3",
    },
    {
        title: "Root Vegetables",
        description:
            "Radishes, rutabagas, and turnips offer a range of flavors and textures, with radishes adding a spicy crunch to salads, rutabagas offering a sweeter, denser option, and turnips being versatile for roasting, mashing, or soups.",
        className: "col-start-10 col-span-3 row-start-3",
    },
]
---

<Page {...Astro.props}>
    <!-- Intro Section -->
    <section class="relative h-screen border-b-2">
        <Gutter>
            <!-- iGem Team Logo -->
            <div class="w-full h-[50vh] bg-muted"></div>
            <div class="">
                <div class="mt-12">
                    <h1 class="text-5xl font-bold text-center text-foregound">
                        iGem ULethbridge 2023
                    </h1>
                    <h2
                        class="text-3xl font-semibold text-center text-foreground mt-2">
                        Canola Disease Detection
                    </h2>
                    <p class="text-center mt-4">
                        Our aim is to create a cheap and easy to use detection
                        kit that can help Alberta Farmers est their crops for
                        Plasmodiophora brassicae, a soil-borne pathogen that
                        causes the disease known as Clubroot.
                    </p>
                </div>
            </div>
        </Gutter>
        <HalfLine client:load />
    </section>

    <!-- Life Cycle -->
    <section class="relative h-screen border-b-2">
        <>
            <div
                class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
                <div class="w-4/5">
                    <AspectRatio client:only="react" ratio={16 / 9}>
                        <img
                            src="https://static.igem.wiki/teams/4754/wiki/untitled-artwork.png"
                            alt="Solutions to clubroot"
                            class="h-full w-full saturate-[.85]"
                        />
                    </AspectRatio>
                </div>
            </div>
            <CurlyLine client:load />
        </>
        <div class="absolute w-full h-full">
            <Gutter>
                <VerticalPadding top="large" bottom="large">
                    <div class="grid grid-cols-12 gap-8">
                        <div class="col-span-6">
                            <h1
                                class="text-lgfont-semibold leading-7 text-muted-foreground">
                                Its not just Canola
                            </h1>
                            <h2
                                class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                                Life Stages
                            </h2>
                            <p
                                class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                                Clubroot spreading poses significant threats to
                                Brassica crops, particularly canola in Alberta.
                            </p>
                        </div>
                        {
                            stages.map((problem) => (
                                <div
                                    class={cn(
                                        "flex flex-col",
                                        problem.className
                                    )}>
                                    <h2 class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                        {problem.title}
                                    </h2>
                                    <p class="mt-1 leading-7 text-muted-foreground">
                                        {problem.description}
                                    </p>
                                </div>
                            ))
                        }
                    </div>
                </VerticalPadding>
            </Gutter>
        </div>
    </section>

    <!-- Disease Score Rating -->
    <section class="relative h-screen border-b-2">
        <Gutter>
            <!-- iGem Team Logo -->
            <div class="w-full h-[60vh]">
                <img
                    src="https://static.igem.wiki/teams/4754/wiki/untitled-artwork-3.png"
                    alt="Canola field"
                    class="h-full w-full object-contain"
                />
            </div>
        </Gutter>
        <Gutter className="bg-background mt-12 w-full">
            <div
                class="grid grid-cols-4 gap-8 h-36 items-center justify-center">
                <div
                    class="flex flex-col items-center justify-center text-center border-r">
                    <p class="text-4xl font-black">Stage 0</p>
                    <p class="font-medium text-muted-foreground mt-2">
                        Lorume ipsum dolor sit amet, consectetur adipiscing
                    </p>
                </div>
                <div
                    class="flex flex-col items-center justify-center text-center border-r">
                    <p class="text-4xl font-black">Stage 1</p>
                    <p class="font-medium text-muted-foreground mt-2">
                        Lorume ipsum dolor sit amet, consectetur adipiscing
                    </p>
                </div>
                <div
                    class="flex flex-col items-center justify-center text-center border-r">
                    <p class="text-4xl font-black">Stage 2</p>
                    <p class="font-medium text-muted-foreground mt-2">
                        Lorume ipsum dolor sit amet, consectetur adipiscing
                    </p>
                </div>
                <div
                    class="flex flex-col items-center justify-center text-center">
                    <p class="text-4xl font-black">Stage 3</p>
                    <p class="font-medium text-muted-foreground mt-2">
                        Lorume ipsum dolor sit amet, consectetur adipiscing
                    </p>
                </div>
            </div>
        </Gutter>
    </section>

    <!-- Crops Affected -->
    <section class="relative h-screen border-b-2">
        <>
            <div
                class={cn(
                    "absolute rounded-full top-1/2 left-1/2 h-[37em] w-[37em] -mt-[18.5em] -ml-[18.5em] inline-block bg-canola-pattern bg-cover bg-no-repeat bg-center",
                    "before:absolute before:rounded-full before:top-1/2 before:left-1/2 before:h-[37em] before:w-[37em] before:-mt-[18.5em] before:-ml-[18.5em] before:inline-block before:bg-background/60",
                    "after:absolute after:rounded-full after:top-1/2 after:left-1/2 after:h-[26em] after:w-[26em] after:-mt-[13em] after:-ml-[13em] after:inline-block after:bg-background"
                )}>
            </div>
            <CurlyLine client:load />
        </>
        <div class="absolute w-full h-full">
            <Gutter>
                <VerticalPadding top="large" bottom="large">
                    <div class="grid grid-cols-12 gap-8">
                        <div class="col-span-6">
                            <h1
                                class="text-lgfont-semibold leading-7 text-muted-foreground">
                                Its not just Canola
                            </h1>
                            <h2
                                class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                                Worldwide Consequences
                            </h2>
                            <p
                                class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                                Clubroot spreading poses significant threats to
                                Brassica crops, particularly canola in Alberta.
                            </p>
                        </div>
                        {
                            problems.map((problem) => (
                                <div
                                    class={cn(
                                        "flex flex-col",
                                        problem.className
                                    )}>
                                    <h2 class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                        {problem.title}
                                    </h2>
                                    <p class="mt-1 leading-7 text-muted-foreground">
                                        {problem.description}
                                    </p>
                                </div>
                            ))
                        }
                    </div>
                </VerticalPadding>
            </Gutter>
        </div>
    </section>

    <!-- Albertas Canola -->
    <section class="relative h-screen border-b-2">
        <div class="absolute w-full h-full flex items-center">
            <!-- <VerticalPadding top="large"> -->
            <div class="relative w-1/2-screen text-muted">
                <AspectRatio ratio={4 / 3}>
                    <img
                        src="https://static.igem.wiki/teams/4754/wiki/untitled-artwork-2.png"
                        alt="Canola field"
                        class="h-full w-full saturate-[.85] shadow-md object-cover"
                    />
                </AspectRatio>
            </div>
            <div class="pl-16 w-1/2-screen">
                <Gutter leftGutter={false}>
                    <div class="col-span-6">
                        <h1
                            class="text-lgfont-semibold leading-7 text-muted-foreground">
                            Canola in Alberta
                        </h1>
                        <h2
                            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                            67% of Alberta
                        </h2>
                        <p
                            class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                            Canola is grown in over 67% of Alberta's arable
                        </p>
                    </div>
                    <div class="col-span-6">
                        <h2
                            class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                            Stat 1
                        </h2>
                        <p class="mt-1 leading-7 text-muted-foreground">
                            Lorum ipsum dolor sit amet, consectetur adipiscing,
                            elit. Vestibulum imperdiet placerat interdum.Mauris
                            sit amet eros vehicula, tempus nisi vel, dictum
                            tellus. Nunc sed eros mi .Vestibulum imperdiet
                            placerat interdum.Mauris sit amet.
                        </p>
                        <h2
                            class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                            Stat 2
                        </h2>
                        <p class="mt-1 leading-7 text-muted-foreground">
                            Lorum ipsum dolor sit amet, consectetur adipiscing,
                            elit. Vestibulum imperdiet placerat interdum.Mauris
                            sit amet eros vehicula, tempus nisi vel, dictum
                            tellus. Nunc sed eros mi .Vestibulum imperdiet
                            placerat interdum.Mauris sit amet.
                        </p>
                    </div>
                </Gutter>
            </div>
        </div>
        <CurlyLine client:load />
    </section>

    <!-- Disease in Alberta -->
    <section class="relative h-screen border-b-2">
        <div class="absolute w-full h-full flex items-center">
            <!-- <VerticalPadding top="large"> -->
            <div class="pr-16 w-1/2-screen">
                <Gutter rightGutter={false}>
                    <div class="col-span-6">
                        <h1
                            class="text-lgfont-semibold leading-7 text-muted-foreground">
                            Clubroot In Alberta
                        </h1>
                        <h2
                            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                            Clubroot is Spreading
                        </h2>
                        <p
                            class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                            Clubroot spreading poses significant threats to
                            Brassica crops, particularly canola in Alberta.
                        </p>
                    </div>
                    <div class="col-span-6 mt-6">
                        <ol
                            class="pl-6 list-decimal marker:font-bold marker:text-muted-foreground/60">
                            <li class="mt-3 leading-7">
                                <h3
                                    class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                    45% Diminishes crop yield and quality
                                </h3>
                                <p class="mt-1 leading-7 text-muted-foreground">
                                    Clubroot's impact extends: stunted crop
                                    growth, compromised quality, and farmers
                                    facing yield losses due to the disease's
                                    effects.
                                </p>
                            </li>
                            <li class="mt-3 leading-7">
                                <h3
                                    class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                    Affects approximately 67% of counties and
                                    districts
                                </h3>
                                <p class="mt-1 leading-7 text-muted-foreground">
                                    Clubroot's extensive reach threatens
                                    Alberta's canola industry by affecting most
                                    counties, imperiling yield, quality, and
                                    profitability, demanding urgent action for
                                    Brassica crop preservation.
                                </p>
                            </li>
                            <li class="mt-3 leading-7">
                                <h3
                                    class="mt-4 scroll-m-20 text-lg font-semibold tracking-tight">
                                    Depletes essential nutrients
                                </h3>
                                <p class="mt-1 leading-7 text-muted-foreground">
                                    Clubroot infects Brassica roots, forming
                                    disruptive galls that hinder nutrient
                                    absorption and water uptake, impacting vital
                                    resources and growth.
                                </p>
                            </li>
                        </ol>
                    </div>
                </Gutter>
            </div>
            <div class="relative w-1/2-screen text-muted">
                <AspectRatio ratio={4 / 3}>
                    <img
                        src="https://static.igem.wiki/teams/4754/wiki/untitled-artwork-1.png"
                        alt="Canola field"
                        class="h-full w-full saturate-[.85] shadow-md object-cover"
                    />
                </AspectRatio>
            </div>
        </div>
        <CurlyLine client:load />
    </section>

    <!-- Current Detection Strategy -->
    <section class="relative h-screen border-b-2 bg-shaded">
        <InfinityLine client:load />
        <div class="absolute w-full h-full">
            <VerticalPadding
                className="flex flex-col h-full justify-center items-center gap-8"
                top="large">
                <Gutter
                    className="text-shaded-foreground flex flex-col items-center">
                    <h1
                        class="text-lg font-semibold leading-7 text-muted-foreground">
                        The Current Detection Strategy
                    </h1>
                    <h2
                        class="scroll-m-20 text-9xl font-extrabold tracking-tight">
                        $95 Per PCR Test!
                    </h2>
                </Gutter>
                <Gutter
                    className="border-y border-background/20 bg-background/5 mt-12 w-full">
                    <div
                        class="grid grid-cols-4 gap-8 h-36 text-shaded-foreground items-center justify-center">
                        <div
                            class="flex flex-col items-center border-r border-background/20">
                            <p class="text-6xl font-black">99.9%</p>
                            <p class="text-lg font-medium text-background/50">
                                Units
                            </p>
                        </div>
                        <div class="flex flex-col items-center">
                            <p class="text-6xl font-black">45B+</p>
                            <p class="text-lg font-medium text-background/50">
                                Acres
                            </p>
                        </div>
                        <div
                            class="flex flex-col items-center border-r border-background/20">
                            <p class="text-6xl font-black">39K</p>
                            <p class="text-lg font-medium text-background/50">
                                Dollars
                            </p>
                        </div>
                        <div class="flex flex-col items-center">
                            <p class="text-6xl font-black">33.4%</p>
                            <p class="text-lg font-medium text-background/50">
                                Loss
                            </p>
                        </div>
                    </div>
                </Gutter>
            </VerticalPadding>
        </div>
    </section>

    <!-- Our Solution -->
    <section class="relative h-screen border-b-2">
        <div class="absolute w-full h-full flex items-center">
            <!-- <VerticalPadding top="large"> -->
            <div class="pr-16 w-1/2-screen">
                <Gutter rightGutter={false}>
                    <div class="col-span-6">
                        <h1
                            class="text-lg font-semibold leading-7 text-muted-foreground">
                            Our Detection Method
                        </h1>
                        <h2
                            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                            Spray, Wait, Know
                        </h2>
                        <p
                            class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                            3 steps to having clubroot resistant canola, all at
                            the palm of your hand
                        </p>
                    </div>
                    <div class="col-span-6 mt-6">
                        <ol
                            class="pl-6 list-decimal marker:font-bold marker:text-muted-foreground/60">
                            <li class="mt-3 leading-7">
                                Vestibulum imperdiet placerat interdum.Mauris
                                sit amet eros vehicula, tempus nisi vel, dictum
                                tellus. Vestibulum imperdiet placerat
                                interdum.Mauris sit amet eros vehicula, tempus
                                nisi vel, dictum tellus.
                            </li>
                            <li class="mt-3 leading-7">
                                Vestibulum imperdiet placerat interdum.Mauris
                                sit amet eros vehicula, tempus nisi vel, dictum
                                tellus. Vestibulum imperdiet placerat
                                interdum.Mauris sit amet eros vehicula, tempus
                                nisi vel, dictum tellus.
                            </li>
                            <li class="mt-3 leading-7">
                                Vestibulum imperdiet placerat interdum.Mauris
                                sit amet eros vehicula, tempus nisi vel, dictum
                                tellus. Vestibulum imperdiet placerat
                                interdum.Mauris sit amet eros vehicula, tempus
                                nisi vel, dictum tellus.
                            </li>
                        </ol>
                    </div>
                </Gutter>
            </div>
            <div class="relative w-1/2-screen text-muted">
                <AspectRatio ratio={4 / 3}>
                    <div
                        class="h-full w-full saturate-[.85] shadow-md bg-muted">
                    </div>
                </AspectRatio>
            </div>
        </div>
        <CurlyLine client:load />
    </section>

    <!-- Take a Tour -->
    <section class="relative h-screen border-b-2">
        <div class="absolute w-full h-full">
            <div class="pr-16 w-1/2-screen">
                <VerticalPadding top="large">
                    <Gutter rightGutter={false}>
                        <div>
                            <h1
                                class="text-lgfont-semibold leading-7 text-muted-foreground">
                                Dont Like thinking too much?
                            </h1>
                            <h2
                                class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
                                Take Our Guided Tour!
                            </h2>
                            <p
                                class="max-w-[500px] text-lg leading-7 text-muted-foreground [&:not(:first-child)]:mt-2">
                                Where we walk you through all the most important
                                parts of our project, from the project
                                description to the results.
                            </p>
                        </div>
                    </Gutter>
                </VerticalPadding>
            </div>
        </div>
        <BottomHalfLine client:load />
        <a
            href="/lethbridge/description"
            class={cn(
                "absolute rounded-lg top-1/2 left-1/2 h-[12em] w-[30em] -mt-[6em] -ml-[15em] inline-block bg-background border-2 border-secondary shadow-md",
                "flex items-center justify-center text-2xl font-bold text-secondary hover:bg-accent transition-colors"
            )}>
            Click here to Take Our Guided Tour!
        </a>
    </section>
</Page>
