---
import { cva, type VariantProps } from "class-variance-authority"
import { cn } from "../../lib/utils"
import {
    AlertOctagonIcon,
    AlertTriangleIcon,
    InfoIcon,
    RocketIcon,
} from "lucide-react"

const asideVariants = cva("p-4 border-l-4 text-foreground mt-6", {
    variants: {
        variant: {
            note: "border-blue-500 bg-blue-50 text-blue-900",
            tip: "border-purple-500 bg-purple-50 text-purple-900",
            caution: "border-yellow-500 bg-yellow-50 text-yellow-900",
            danger: "border-red-500 bg-red-50 text-red-900",
        },
    },
    defaultVariants: {
        variant: "note",
    },
})

interface Props extends VariantProps<typeof asideVariants> {
    title: string
}

const { title, variant } = Astro.props
---

<aside class={cn(asideVariants({ variant }))}>
    <p class="flex gap-2 items-center text-xl font-semibold leading-none">
        <span>
            {variant === "note" && <InfoIcon className="w-5 h-5" />}
            {variant === "tip" && <RocketIcon className="w-5 h-5" />}
            {variant === "caution" && <AlertTriangleIcon className="w-5 h-5" />}
            {variant === "danger" && <AlertOctagonIcon className="w-5 h-5" />}
        </span>
        {title}
    </p>
    <section class="mt-2 !text-foreground">
        <slot />
    </section>
</aside>
