---
interface Props {
    title: string
}

const { title } = Astro.props
---

<article class="flex mt-6 border bg-transparent p-6 flex-col gap-2 rounded-md">
    <p class="flex scroll-m-20 text-xl font-semibold tracking-tight">
        <!-- {icon && <Icon name={icon} class="icon" size="1.333em" />} -->
        <span set:html={title} />
    </p>
    <div class="!m-0"><slot /></div>
</article>
