---
import { cn } from "@/lib/utils"
const { title, faculty, date } = Astro.props
---

<div class={cn("flex justify-between")}>
    <div>
        <slot />
        <p class="!mt-0 text-sm">{faculty}</p>
    </div>
    <p class="!mt-8 text-muted-foreground text-sm font-medium">{date}</p>
</div>
