---
import type { HTMLAttributes } from "astro/types"
import { ChevronRight } from "lucide-react"

interface Props extends Omit<HTMLAttributes<"a">, "title"> {
    title: string
    description?: string
}

const { title, description, ...attributes } = Astro.props
---

<div
    class="relative flex items-center justify-between mt-6 border bg-transparent p-6 gap-2 rounded-md hover:bg-muted hover:border-muted-foreground transition-colors duration-250">
    <span class="flex flex-col gap-2">
        <a class="!no-underline before:inset-0 before:absolute" {...attributes}>
            <span
                class="scroll-m-20 text-xl font-semibold tracking-tight"
                set:html={title}
            />
        </a>
        {description && <span class="description" set:html={description} />}
    </span>
    <ChevronRight className="w-4 h-4" />
</div>
