---
import { XIcon } from "lucide-react"
import { cn } from "../lib/utils"
import { buttonVariants } from "./ui/button"
---

<site-search
    class="relative w-full justify-start font-normal text-sm text-muted-foreground sm:pr-12 md:w-40 lg:w-64">
    <button
        data-open-modal
        disabled
        class={cn(
            buttonVariants({ variant: "outline" }),
            "relative w-full justify-start font-normal text-sm text-muted-foreground sm:pr-12 md:w-40 lg:w-64"
        )}>
        <span class="hidden xl:inline-flex">Search wiki...</span>
        <span class="inline-flex xl:hidden">Search...</span>
        <kbd
            class="pointer-events-none absolute right-1.5 top-2.2 h-5 select-none items-center gap-1 flex rounded border bg-muted px-1.5 font-mono text-[10px] font-medium opacity-100">
            <span class="text-xs">⌘</span>K
        </kbd>
    </button>

    <dialog
        class={cn(
            "m-0 p-0 bg-background border border-border w-full h-full max-w-full max-h-full shadow-md",
            "open:grid",
            "backdrop:fixed backdrop:inset-0 backdrop:bg-white/80 backdrop:backdrop-blur-sm"
        )}>
        <div class="flex flex-col gap-4 p-6">
            {
                /* TODO: Make the layout of this button flexible to accommodate different word lengths. Currently hard-coded for English: “Cancel” */
            }
            <button
                data-close-modal
                class={cn(
                    "flex absolute z-10 p-4 items-center self-end h-[calc(64px_*_var(--pagefind-ui-scale))] cursor-pointer text-muted-foregound hover:text-foreground"
                )}>
                <XIcon className="w-4 h-4" />
            </button>
            {
                import.meta.env.DEV ? (
                    <div
                        style="margin: auto; text-align: center; white-space: pre-line;"
                        dir="ltr">
                        <p>Warning Site Search Does Not Work in Dev</p>
                    </div>
                ) : (
                    <div class="search-container">
                        <div id="starlight__search" />
                    </div>
                )
            }
        </div>
    </dialog>
</site-search>

<script>
    class SiteSearch extends HTMLElement {
        constructor() {
            super()
            const openBtn = this.querySelector<HTMLButtonElement>(
                "button[data-open-modal]"
            )!
            const closeBtn = this.querySelector<HTMLButtonElement>(
                "button[data-close-modal]"
            )!
            const dialog = this.querySelector("dialog")!
            const dialogFrame = this.querySelector(".dialog-frame")!

            /** Close the modal if a user clicks outside of the modal. */
            const onWindowClick = (event: MouseEvent) => {
                if (
                    document.body.contains(event.target as Node) &&
                    !dialogFrame.contains(event.target as Node)
                )
                    closeModal()
            }

            const openModal = (event?: MouseEvent) => {
                dialog.showModal()
                this.querySelector("input")?.focus()
                event?.stopPropagation()
                window.addEventListener("click", onWindowClick)
            }

            const closeModal = () => {
                dialog.close()
                window.removeEventListener("click", onWindowClick)
            }

            openBtn.addEventListener("click", openModal)
            openBtn.disabled = false
            closeBtn.addEventListener("click", closeModal)

            // Listen for `/` and `cmd + k` keyboard shortcuts.
            window.addEventListener("keydown", (e) => {
                const isInput =
                    document.activeElement &&
                    ["input", "select", "textarea"].includes(
                        document.activeElement.tagName.toLowerCase()
                    )
                if (e.metaKey === true && e.key === "k") {
                    dialog.open ? closeModal() : openModal()
                    e.preventDefault()
                } else if (e.key === "/" && !dialog.open && !isInput) {
                    openModal()
                    e.preventDefault()
                }
            })

            window.addEventListener("DOMContentLoaded", (event) => {
                new PagefindUI({
                    element: "#starlight__search",
                    showImages: false,
                })
            })
        }
    }
    customElements.define("site-search", SiteSearch)
</script>

<style>
    #starlight__search {
        --pagefind-ui-primary: hsl(var(--primary));
        --pagefind-ui-text: hsl(var(--foreground));
        --pagefind-ui-background: hsl(var(--background));
        --pagefind-ui-border: hsl(var(--border));
        --pagefind-ui-border-width: 1px;
        --sl-search-cancel-space: 5rem;
    }

    @media (min-width: 50rem) {
        #starlight__search {
            --sl-search-cancel-space: 0px;
        }

        dialog {
            margin: 4rem auto auto;
            border-radius: 0.5rem;
            width: 90%;
            max-width: 40rem;
            height: max-content;
            min-height: 15rem;
            max-height: calc(100% - 8rem);
        }
    }
</style>

<style is:global>
    #starlight__search .pagefind-ui__form::before {
        --pagefind-ui-text: hsl(var(--foreground));
        opacity: 1;
    }

    #starlight__search .pagefind-ui__search-input {
        color: hsl(var(--foreground));
        font-weight: 400;
        width: calc(100% - var(--sl-search-cancel-space));
    }

    #starlight__search input:focus {
        --pagefind-ui-border: hsl(var(--border));
    }

    #starlight__search .pagefind-ui__search-clear {
        inset-inline-end: 1rem;
        width: calc(60px);
        padding: 0;
        background-color: transparent;
        overflow: hidden;
    }
    #starlight__search .pagefind-ui__search-clear:focus {
        outline: 1px solid hsl(var(--border));
    }
    #starlight__search .pagefind-ui__search-clear::before {
        content: "";
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m13.41 12 6.3-6.29a1 1 0 1 0-1.42-1.42L12 10.59l-6.29-6.3a1 1 0 0 0-1.42 1.42l6.3 6.29-6.3 6.29a1 1 0 0 0 .33 1.64 1 1 0 0 0 1.09-.22l6.29-6.3 6.29 6.3a1 1 0 0 0 1.64-.33 1 1 0 0 0-.22-1.09L13.41 12Z'/%3E%3C/svg%3E")
            center / 50% no-repeat;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m13.41 12 6.3-6.29a1 1 0 1 0-1.42-1.42L12 10.59l-6.29-6.3a1 1 0 0 0-1.42 1.42l6.3 6.29-6.3 6.29a1 1 0 0 0 .33 1.64 1 1 0 0 0 1.09-.22l6.29-6.3 6.29 6.3a1 1 0 0 0 1.64-.33 1 1 0 0 0-.22-1.09L13.41 12Z'/%3E%3C/svg%3E")
            center / 50% no-repeat;
        background-color: hsl(var(--primary));
        display: block;
        width: 100%;
        height: 100%;
    }

    #starlight__search .pagefind-ui__results > * + * {
        margin-top: 0.5rem;
    }
    #starlight__search .pagefind-ui__result {
        position: relative;
        border: 0;
        border-radius: 0.25rem;
        padding: 1rem;
        background-color: hsl(var(--muted));
    }

    #starlight__search .pagefind-ui__result:hover,
    #starlight__search .pagefind-ui__result:focus-within {
        outline: 1px solid hsl(var(--ring));
    }

    #starlight__search .pagefind-ui__result:focus-within {
        background-color: hsl(var(--muted));
    }

    #starlight__search .pagefind-ui__result-thumb,
    #starlight__search .pagefind-ui__result-inner {
        margin-top: 0;
    }

    #starlight__search .pagefind-ui__result-link {
        --pagefind-ui-text: hsl(var(--foreground));
        font-weight: 600;
    }

    #starlight__search .pagefind-ui__result-link:hover {
        text-decoration: none;
    }

    #starlight__search .pagefind-ui__result-link::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    #starlight__search .pagefind-ui__result-excerpt {
        font-size: 1rem;
        word-break: break-word;
    }

    #starlight__search mark {
        color: hsl(var(--primary-foreground));
        background-color: hsl(var(--primary));
        font-weight: 500;
        padding: 0.1em 0.2em;
    }

    #starlight__search .pagefind-ui__result:focus-within mark {
        text-decoration: underline;
    }
</style>
