---
import { ChevronDown } from "lucide-react"
import { type SidebarEntry } from "../lib/navigation"
import { cn } from "../lib/utils"

interface Props {
    nav: SidebarEntry[]
    nested?: boolean
}

const { nav } = Astro.props
---

<ul
    class:list={cn("list-none p-0", {
        "top-level": !Astro.props.nested,
    })}>
    {
        nav.map((entry) => (
            <li>
                {entry.type === "link" ? (
                    <a
                        href={entry.href}
                        aria-current={entry.isCurrent && "page"}
                        class:list={cn(
                            "group flex w-full text-sm items-center rounded-md border border-transparent px-2 py-1 hover:underline",
                            entry.isCurrent
                                ? "font-medium text-foreground"
                                : "text-muted-foreground",
                            {
                                "font-semibold": !Astro.props.nested,
                            }
                        )}>
                        <span>{entry.label}</span>
                    </a>
                ) : (
                    <details open={true}>
                        <summary class="flex mb-2 items-center justify-between cursor-pointer select-none ps-2 pe-2 marker:display-none">
                            <h2 class="rounded-md text-sm capitalize font-semibold">
                                {entry.label}
                            </h2>
                            <ChevronDown className="w-4 h-4 transition caret" />
                        </summary>
                        <Astro.self nav={entry.entries} nested />
                    </details>
                )}
            </li>
        ))
    }
</ul>

<style>
    ul ul li {
        margin-inline-start: 1rem;
        border-inline-start: 1px solid hsl(210 40% 90.1%);
        padding-inline-start: 0.5rem;
    }
    .top-level > li + li {
        margin-top: 0.75rem;
    }

    :global([dir="rtl"]) .caret {
        transform: rotateZ(-180deg);
    }
    [open] > summary .caret {
        transform: rotateZ(-90deg);
    }
</style>

<!-- <style>

	a {
		display: block;
		border-radius: 0.25rem;
		text-decoration: none;
		color: var(--sl-color-gray-2);
		padding: 0.3em var(--sl-sidebar-item-padding-inline);
		line-height: 1.4;
	}

	a:hover,
	a:focus {
		color: var(--sl-color-white);
	}

	[aria-current='page'],
	[aria-current='page']:hover,
	[aria-current='page']:focus {
		font-weight: 600;
		color: var(--sl-color-text-invert);
		background-color: var(--sl-color-text-accent);
	}

	a > *:not(:last-child) {
		margin-inline-end: 0.25em;
	}

	@media (min-width: 50rem) {
		.top-level > li + li {
			margin-top: 0.5rem;
		}
		.large {
			font-size: var(--sl-text-base);
		}
		a {
			font-size: var(--sl-text-sm);
		}
	}
</style> -->
