---
import type { getSidebar } from "../lib/navigation"
import SidebarNav from "./sidebar-nav.astro"
// import ThemeSelect from "./ThemeSelect.astro"

interface Props {
    sidebar: ReturnType<typeof getSidebar>
}

const { sidebar } = Astro.props
---

<aside
    class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block">
    <div
        class="h-full py-6 pl-8 pr-6 lg:py-8 overflow-x-hidden overflow-y-scroll">
        <SidebarNav nav={sidebar} />
    </div>
</aside>
