---
import Gutter from "./gutter.astro"
import SearchDialog from "./search.astro"
import Search from "./ui/search-dialog"
import { MainNav } from "./main-nav"
---

<header
    class="supports-backdrop-blur:bg-background/60 sticky top-0 z-50 w-full border-b bg-background/80 backdrop-blur">
    <Gutter>
        <div class="flex h-14 items-center">
            <!-- Navigation Menu Goes Here -->
            <MainNav client:load />
            <div
                class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
                <div class="w-full flex-1 md:w-auto md:flex-none">
                    <!-- Seach Bar Goes Here -->
                    <SearchDialog />
                </div>
                <nav class="flex items-center">
                    <!-- Socials Go Here -->
                    <!-- Dark Mode Toggle Here -->
                </nav>
            </div>
        </div>
    </Gutter>
</header>
