---
import { cn } from "@/lib/utils"
import Gutter from "./gutter.astro"

import { siteConfig } from "../lib/site-config"
import { buttonVariants } from "./ui/button"
import { GitlabIcon, MailIcon, MapPinIcon, TwitterIcon } from "lucide-react"
---

<footer class={cn("relative")}>
    {/* Site Map */}
    <div class={cn("relative bg-muted py-12")}>
        <Gutter>
            <div
                class="flex flex-col flex-wrap items-center justify-between gap-5 text-center md:flex-row md:items-start md:gap-0 md:py-0 md:text-left">
                <div>
                    <!-- <Icons.logo className="h-12 w-20" /> -->
                    <div class="mt-4 max-w-[30ch]">
                        <h1 class="text-xl font-bold">Club Squared</h1>
                        <p>
                            Our project addresses Clubroot's threat to Brassica
                            crops, developing innovative solutions for detection
                            and mitigation to preserve crop health and
                            sustainability.
                        </p>
                    </div>
                </div>
                {
                    siteConfig.footer.map((column) => (
                        <div>
                            <h3 class="text-muted-foreground text-lg">
                                {column.title}
                            </h3>
                            <div class={cn("flex flex-col")}>
                                {column.items &&
                                    column.items.map((program) => (
                                        <a
                                            href={program.href}
                                            class={cn(
                                                buttonVariants({
                                                    variant: "link",
                                                }),
                                                "justify-start px-0 text-foreground"
                                            )}>
                                            {program.title}
                                        </a>
                                    ))}
                            </div>
                        </div>
                    ))
                }
                <div>
                    <h3>Contact</h3>
                    <div class={cn("flex flex-col")}>
                        <div
                            class={cn(
                                buttonVariants({
                                    size: "sm",
                                    variant: "link",
                                }),
                                "text-foreground",
                                "hover:no-underline",
                                "!pl-0 md:justify-start"
                            )}>
                            <MapPinIcon className="h-h mr-2 w-4" /> Lethbridge,
                            AB
                        </div>

                        <div
                            class={cn(
                                buttonVariants({
                                    size: "sm",
                                    variant: "link",
                                }),
                                "text-foreground",
                                "hover:no-underline",
                                "!pl-0 md:justify-start"
                            )}>
                            <MailIcon className="h-h mr-2 w-4" />
                             lethbridgeigem@uleth.com
                        </div>
                        <div class={cn("-ml-3 mt-1 flex space-x-1")}>
                            {
                                (
                                    <>
                                        <a
                                            href={siteConfig.twitterUrl}
                                            target="_blank"
                                            rel="noreferrer">
                                            <div
                                                class={cn(
                                                    buttonVariants({
                                                        size: "icon",
                                                        variant: "ghost",
                                                    }),
                                                    "w-9"
                                                )}>
                                                <TwitterIcon className="h-6 w-6" />
                                                <span class="sr-only">
                                                    Twitter
                                                </span>
                                            </div>
                                        </a>
                                        <a
                                            href={siteConfig.gitlabUrl}
                                            target="_blank"
                                            rel="noreferrer">
                                            <div
                                                class={cn(
                                                    buttonVariants({
                                                        size: "icon",
                                                        variant: "ghost",
                                                    }),
                                                    "w-9"
                                                )}>
                                                <GitlabIcon className="h-6 w-6" />
                                                <span class="sr-only">
                                                    Twitter
                                                </span>
                                            </div>
                                        </a>
                                    </>
                                )
                            }
                        </div>
                    </div>
                </div>
            </div>
        </Gutter>
    </div>
    <div class="bg-shaded text-shaded-foreground">
        <Gutter>
            <div
                class="flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0">
                <div
                    class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0">
                    <p
                        class="!mt-0 text-center text-sm leading-loose md:text-left">
                        © 2023 - Content on this site is licensed under a
                        <a
                            class="font-medium underline underline-offset-4"
                            href="https://creativecommons.org/licenses/by/4.0/"
                            rel="license"
                            >Creative Commons Attribution 4.0 International
                            license</a
                        >.
                    </p>
                </div>
                {/* <ThemeToggle /> */}
            </div>
        </Gutter>
    </div>
</footer>
