---
import "../styles/global.css"
import SiteHeader from "../components/site-header.astro"
import { getSidebar } from "../lib/navigation"
import Sidebar from "./sidebar.astro"
import SiteFooter from "../components/site-footer.astro"

const { dir, entry, headings } = Astro.props
const sidebar = getSidebar(Astro.url.pathname)

const hasSidebar = entry && entry.data.template !== "splash"
---

<html lang="en">
    <head>
        <!-- SEO Component Here -->
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link href="/lethbridge/_pagefind/pagefind-ui.css" rel="stylesheet" />
        <script
            src="/lethbridge/_pagefind/pagefind-ui.js"
            type="text/javascript"></script>
        <title>Lethbridge Wiki</title>
    </head>
    <body>
        <!-- Theme Provider -->
        <SiteHeader />
        {
            hasSidebar ? (
                <Sidebar
                    sidebar={sidebar}
                    headings={headings}
                    title={entry.data.title}
                    description={entry.data.description}>
                    <slot />
                </Sidebar>
            ) : (
                <main>
                    <slot />
                </main>
            )
        }
        <SiteFooter />

        <!-- Site Footer -->
    </body>
</html>

<style>
    * {
        scroll-behavior: smooth;
    }
</style>
