---
import type { getSidebar } from "../lib/navigation"
import SidebarMenu from "../components/sidebar.astro"
import Gutter from "../components/gutter.astro"
import { cn } from "../lib/utils"
import Markdown from "../components/markdown.astro"
import Toc from "../components/toc.astro"

const { title, description, sidebar, headings } = Astro.props
---

<Gutter>
    <div
        class="flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[260px_minmax(0,1fr)] lg:gap-10">
        <SidebarMenu sidebar={sidebar} />
        <main
            data-pagefind-body={true}
            class="relative py-6 lg:py-8 lg:gap-10 xl:grid xl:grid-cols-[1fr_300px]">
            <div class="mx-auto w-full min-w-0">
                <div class="space-y-2">
                    <h1
                        class={cn(
                            "scroll-m-20 text-4xl font-bold tracking-tight"
                        )}>
                        {title}
                    </h1>
                    {
                        description && (
                            <p class="text-lg text-muted-foreground">
                                {description}
                            </p>
                        )
                    }
                </div>
                <div class="pb-12 pt-8">
                    <Markdown>
                        <slot />
                    </Markdown>
                </div>
            </div>
            <div class="hidden text-sm xl:block">
                <div class="sticky top-16 -mt-10 pt-4">
                    <div
                        class="sticky top-16 -mt-10 h-[calc(100vh-3.5rem)] py-12">
                        <Toc headings={headings} />
                    </div>
                </div>
            </div>
        </main>
    </div>
</Gutter>
